# Place your certificate chain here
# The file should contain all certificates in PEM format, in the following order:
# 1. Leaf certificate (your organization's certificate)
# 2. Intermediate certificate(s)
# 3. Root certificate
#
# Example format:
# -----BEGIN CERTIFICATE-----
# (Leaf certificate contents)
# -----END CERTIFICATE-----
# -----BEGIN CERTIFICATE-----
# (Intermediate certificate contents)
# -----END CERTIFICATE-----
# -----BEGIN CERTIFICATE-----
# (Root certificate contents)
# -----END CERTIFICATE----- 